<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CCS.Search_bar"/>
      <class name="CCS.Home_page_test"/>
      <class name="CCS.login_page_test"/>
      <class name="CCS.login_page_test_using_dataprovider_annotation"/>
      <class name="CCS.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
